@model WeddingPlanner.Models.Wedding

<div class="container">
    <div class="row">
        <form class="form" action="/weddings/@Model.WeddingId/edit" method="POST">
            <div class="form-group">
                <div class="col">
                    <label asp-for="WeddingDate"></label>
                    <span asp-validation-for="WeddingDate" class="text-danger"></span><br />
                    <input asp-for="WeddingDate" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <label asp-for="WedderName1"></label>
                    <span asp-validation-for="WedderName1" class="text-danger"></span><br />
                    <input asp-for="WedderName1" />
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <label asp-for="WedderName2"></label>
                    <span asp-validation-for="WedderName2" class="text-danger"></span><br />
                    <input asp-for="WedderName2" />
                </div>
            </div>

            <div class="form-group">
                <label>Vendors</label>
                @foreach (var vendor in Model.Vendors)
                {
                    <div class="col">
                        <a href="/weddings/@Model.WeddingId/vendors/@vendor.VendorId">
                            @vendor.VendorName
                        </a>
                    </div>
                }
            </div>
            <div class="form-group">
                <div class="col">
                    <a class="btn btn-dark" href="/weddings/@Model.WeddingId/vendors/new">
                        Add New Vendor
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <input type="submit" value="Save" class="btn btn-dark" />
                    <a href="/weddings/" class="btn btn-light">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>